<html>
    <head>
        <link rel=stylesheet href="..\css\manage-project.css">
        <link rel=stylesheet href="..\css\fonts\fonts.css">
        <script src="../js/Vue.js"></script>
    </head>
    <body>
        <div class="loading">loading....</div>        
        <section clas="superContainer" id="app">
            <header>
                <h1> {{ title }} </h1>
            </header>


            <section class="container">
                <div class="tabs">`
                    <ul>
                        <li class="tab" :class="{ 'active-tab' : UIdata.projectTab }"  @click="tabchange">Manage sets</li>
                        <li class="tab" :class="{ 'active-tab' : !UIdata.projectTab }" @click="tabchange">Project Settings</li>
                    </ul>
                </div>
                <section v-if="UIdata.projectTab" class="viewsets-container">
                    <ul class="sets-list">
                        <span class="section-head">Sets
                            <div class="butt blue-butt"> Add set</div>
                        </span>
                        <!-- <individual-set
                            v-for="set in sets"
                            :set-name="set.Name"
                            :subset="set.subSetName"
                        ></individual-set> -->
                        <li 
                        v-for="set in sets"
                        :class="{ 'active-set' : (UIdata.activeSet === sets.indexOf(set)) }"
                        @click="activateSet(sets.indexOf(set))" 
                        >
                        <span class='set'>{{ set.Name }}</span>
                    </li>
                </ul>
                <div class="sets-misc">
                    <div class="set-setting-container">
                        <span class="section-head" @click="toggOpts" >Options</span>
                        <div class="options-contents content" v-if="UIdata.optionView">
                            <ul>
                                <div class="butt yellow-butt"> Add a subset</div>
                            </ul>  
                        </div>
                        
                    </div>
                    <div class="set-questions-container" >
                        <span class="section-head" @click="toggQues">Questions</span>
                        <div class="questions-content content" v-if="UIdata.quesView">
                            <ul v-for="subsetName in sets[UIdata.activeSet].subSetName">
                                <li class="subset-container"><span class="subsetName" togg=false @click="toggsubset" > {{ subsetName }}  </span> <div class="subset-contents"> subsetcontenets </div></li>
                            </ul>
                            <ul>
                               No questions to display.
                            </ul>
                        <div class="butt blue-butt" style='float: right;'> Add question</div>
                        </div>
                    </div>
                    </div>
                </section>


                <section v-if="!UIdata.projectTab" class="project-settings-container">
                    <b>project Settings here</b>
                </section>


            </section>
        </section>
    </body>
    <script src="../js/manage-project.js"></script>
</html>